@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
position: relative;
width: 100%;
height: 100vh;
background: #050106;
overflow: hidden;
}
/* circulos decorativos */
/* cicle1 */
.cicle1 {
position: absolute;
width: 1418px;
height: 1306px;
left: -400px;
top: -500px;
box-shadow: #000000 1px 1px 1px, #000000 2px 2px 2px, #000000 3px 3px 3px, #000000 4px 4px 4px, #000000 5px 5px 5px, #000000 6px 6px 6px, #000000 7px 7px 7px, #000000 8px 8px 8px, #000000 9px 9px 9px, #000000 10px 10px 10px;
background: #FFFFFF;
border-radius: 50%;
}
.cicle1::before{
content: 'w';
position: absolute;
width: 1418px;
height: 1306px;
left: 100px;
top: 100px;
z-index: -1;
background: #012581;
border-radius: 50%;
filter: blur(60px);
animation: latir 10s  linear infinite forwards;
}
/* cicle2 */
.cicle2{
position: absolute;
width: 1418px;
height: 1306px;
left: -420px;
top: -521px;
background: #1100FF;
border-radius: 50%;
}
/* cicle3 */
.cicle3{
position: absolute;
width: 1418px;
height: 1306px;
left: -451px;
top: -573px;
background: #0D02AC;
border-radius: 50%;
}
/* cicle4 */
.cicle4{
position: absolute;
width: 1418px;
height: 1306px;
left: -499px;
top: -614px;
background: #060053;
border-radius: 50%;
}
/* cicle5 */
.cicle5{
position: absolute;
width: 1367px;
height: 1294px;
left: -490px;
top: -644px;
background: #020016;
border-radius: 50%;
}
/* cicle6 */
.cicle6{
position: absolute;
width: 1367px;
height: 1294px;
left: -563px;
top: -674px;
background: #000000;
border-radius: 50%;
}
/* container */
.container{
position: relative;
width: 100%;
height: 100vh;
background: rgba(91, 91, 91, 0.15);
backdrop-filter: blur(26.35px);
}
/* header */
header{
position: absolute;
width: 100%;
height: 93px;
padding: 10px;
color: #FFFFFF;
font-family: 'inter', sans-serif;
align-items: center;
display: flex;
}
/* logo */
.logo{
margin-left: 20px;
}
/* botones del header */
.btn_container{
width: 500px;
height: 93px;
align-items: center;
display: flex;
margin-left: 1380px;
}
.btn_header{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 27px;
gap: 25px;
width: 170px;
height: 38px;
background-color: transparent;
border: 2.5px solid #FFFFFF;
border-radius: 39px;
font-family:'poppins', sans-serif;
font-weight: 500;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin-right: 6px;
transition: .4s ease-in-out;
}
.btn_header:hover{
box-shadow: rgba(245, 245, 245, 0.767) 2px 1px 7px 1px;
}
.btn_headerAlt{
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 27px;
gap: 15px;
width: 170px;
height: 38px;
background-color: white;
border: 2.5px solid #FFFFFF;
border-radius: 39px;
font-family:'poppins', sans-serif;
font-weight: 500;
color: black;
flex: none;
order: 0;
flex-grow: 0;
}
/* contenido principal */
.text_container{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
/* titulo */
.title_init{
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 68.1221px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
}
/* texto */
.text_init{
font-family: 'Poppins',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
color: #EAEAEA;
}
/* botones principakes */
/* container */
.btn_conta{
display: flex;
align-items: center;
padding-left: 210px;
}
/* btn registrer */
.animated-button {
width: 300px;
position: relative;
display: inline-block;
padding: 12px 24px;
border: none;
font-size: 16px;
background-color: inherit;
border-radius: 100px;
font-weight: 600;
color: #ffffff40;
box-shadow: 0 0 0 2px #ffffff20;
cursor: pointer;
overflow: hidden;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
margin-right: 20px;
left: -100px;
top: 30px;
}
.animated-button span:last-child {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 20px;
height: 20px;
background-color: #ffffff;
border-radius: 50%;
opacity: 0;
transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.animated-button span:first-child {
position: relative;
z-index: 1;
}
.animated-button:hover {
box-shadow: 0 0 0 5px #dbdbdb31;
color: #000000;
}
.animated-button:active {
scale: 0.95;
}
.animated-button:hover span:last-child {
width: 300px;
height: 150px;
opacity: 1;
}
/* buton inicio sesion */
.animated-buttonCreate{
width: 300px;
position: relative;
display: inline-block;
padding: 12px 24px;
border: none;
font-size: 16px;
background-color: inherit;
border-radius: 100px;
font-weight: 600;
color: #000000;
box-shadow: 0 0 0 2px #ffffff7c;
cursor: pointer;
overflow: hidden;
transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
margin-right: 20px;
left: -100px;
top: 30px;
background-color: #FFFFFF;
}
.animated-buttonCreate span:last-child {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 20px;
height: 20px;
background-color: #000000;
border-radius: 50%;
opacity: 0;
transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.animated-buttonCreate span:first-child {
position: relative;
z-index: 1;
}
.animated-buttonCreate:hover {
box-shadow: 0 0 0 5px #a3a2a293;
color: #ffffff;
}
.animated-buttonCreate:active {
scale: 0.95;
}
.animated-buttonCreate:hover span:last-child {
width: 300px;
height: 150px;
opacity: 1;
}
/* footer */
footer{
position: absolute;
top: 530px;
color: #eaeaea75;
}
.footer_text{
transition:.3s ease-in-out;
}
.footer_text:hover{
color: whitesmoke;
}
/* animaciones */
@keyframes latir {
0%{
transform: scale(1);
}
50%{
transform: scale(1.2);
}
100%{
transform: scale(1);   
}
}